
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.tile {
  min-width: 275px;
  min-height: 225px;
  padding-right: 50px;
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.bottom-of-tile {
  background-color: white;
  min-width: 225px;
  margin-bottom: 10px;
  padding-right: 10px;
}

.source {
  color: lightgray;
}

.price {
  color: #78C042;
  float: right;
}

.products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tile-header {
  margin-top: 0;
}

.top {
  margin: 15px auto;
}

.etsy-logo {
  width: 85px;
  height: 50px;
  margin-left: 25px;
}

.search-box {
  display: inline-block;
}

.search-bar {
  width: 400px;
  padding: 8px;
}

.search-button {
  height: 38px;
  width: 85px;
  background-color: #34A8C4;
  color: white;
  margin-left: -5px;
  border: none;
}

.btn-default {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
  line-height: .5;
  border-color: lightgray;
}

.glyphicon {
  margin-bottom: 5px;
}

.cart-text {
  font-size: 10px;
  color: gray;
}


.nav-links {
  display: inline-block;
  margin-left: 650px;
}

.link {
  display: inline-block;
  margin: 5px;
}

.link > a {
  color: #0192B5;
}

.sign-in {
  border: 1px solid #0192B5;
  padding: 9px;
  border-radius: 5%;
}

.categories {
  color: gray;
  background-color: white;
  padding-left: 25px;
}

.category {
  display: inline-block;
  font-size: 14px;
  padding: 7px;
  margin-top: 7px;
}

.results-list {
  list-style: none;
  padding-left: 15px;
  color: #0192B5;
  line-height: 1.75;
  font-size: 14px;
}

.all-categories {
  color: black;
  margin-left: -10px;
}

.panel {
  border: 1px solid lightgray;
  padding: 10px;
  color: #0192B5;
}

.strong {
  color: black;
  font-weight: bold;
  font-size: 13px;
}

.radio-label {
  color: #0192B5;
  font-weight: lighter;
}

.radio-custom {
  display: inline-block;
}

.input {
  width: 75px;
  display: inline-block;
  overflow: auto;
}

.checkbox-label {
  color: #0192B5;
}

.select {
  -webkit-appearance: menulist-button;
   height: 35px;
   width: 100%;
   border: 1px solid black;
   color: black;
}

.list-inline-item1 {
  background-color: #F40B32;
}

.list-inline-item2 {
  background-color: #FF7F00;
}

.list-inline-item3 {
  background-color: #F3CC0C;
}

.list-inline-item4 {
  background-color: #0AC20A;
}

.list-inline-item5 {
  background-color: #0CCCF3;
}

.list-inline-item6 {
  background-color: #A60CF3;
}

.list-inline-item7 {
  background-color: black;
}

.colors {
  height: 20px;
  width: 20px;
  border: 1px transparent;
  border-radius: 10%;
}

.list-inline-item8 {
  background-color: #FAFAFA;
  border: 1px solid lightgray;
  border-radius: 10%;
}

.show-results {
  margin-top: 0px;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid lightgray;
}

.middle {
  background-color: #F5F5F1;
  padding-top: 25px;
}
